@import url('@css/input.css');
.MainSignup {
  display: flex;
  max-width: 400px;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  margin-top: 1rem;
}
.signup_id,
.signup_pw,
.signup_rePw,
.signup_name,
.signup_phone {
  padding: 0.7rem;
  width: 100%;
  border: 1px solid var(--text-secondary);
  border-radius: 10px;
  outline: none;
  margin: 5px auto;
  cursor: pointer;
  box-sizing: border-box;
}

.signup_birth_yy,
.signup_birth_dd {
  width: 33%;
  padding: 0.7rem;
  border: 1px solid var(--text-secondary);
  border-radius: 10px;
  outline: none;
}

.signup_bir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup_birth_mm {
  width: 33%;
  padding: 0.7rem;
  border: 1px solid var(--text-secondary);
  outline: none;
  border-radius: 10px;
  margin: 0 5px;
  background: inherit;
}

.signup_gender {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid var(--text-secondary);
  border-radius: 10px;
  margin: 5px auto;
  outline: none;
}

.SignupBtn {
  background: #e91e63;
  color: var(--text-primary);
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 0.2rem;
}

select:focus {
  background: var(--bg-color);
}
