.UserInfo {
  margin-bottom: 3rem;
}

.MyPageBody {
  max-width: 76.8rem;
  margin: 0 auto;
  min-height: 100%;
  padding: 7rem 0 7rem;
}

section {
  padding-bottom: 0;
}

.MyPageContainer {
  padding-right: 2rem;
  padding-left: 2rem;
}

.UserInfoBody {
  line-height: normal;
  border: 0.1rem solid #e6e6e6;
  border-radius: 0.8rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgb(0 0 0 / 10%);
  overflow: hidden;
  position: relative;
}

.UserInfoCont {
  display: flex;
  align-items: center;
  padding: 1.6rem;
}

.UserInfoProfile {
  width: 4rem;
  height: 4rem;
  display: block;
  background-color: pink;
}

.UserInfoNickName {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0.4rem;
  margin-left: 1.8rem;
  cursor: pointer;
}

.UserInfoManage {
  font-size: 1rem;
  font-weight: 400;
  padding-right: 1.3rem;
  padding-left: 0;
}

.UserInfoArea {
  font-size: 1.2rem;
  font-weight: 400;
  width: 7.5rem;
  height: 3rem;
  overflow: hidden;
  background: #fff;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  display: block;
  line-height: 3rem;
  margin-left: auto;
  text-align: center;
  color: black;
}

.UserInfoList {
  border-top: 0.1rem solid #e6e6e6;
  display: grid;
  grid-template:
    "a b"
    /1fr 1fr;
  grid-gap: 0.1rem;
  margin: 0;
  padding: 0;
}

.ListSubCont {
  border-right: 0.1rem solid #e6e6e6;
  grid-area: a;
  height: 4.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListSubscribe {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 0 1.6rem;
}

.ListSubLeft {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.ListSubRight {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.ListChargeBtn {
  width: 6.5rem;
  height: 2.8rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 2.2rem;
}

.ListRevCont {
  grid-area: b;
  height: 4.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListReview {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 0 1.6rem;
}

.ListFont {
  font-size: 1rem;
}

.ListRevLink {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
  padding-right: 3.5rem;
}

.ListRevLeft {
  padding-right: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.Introduce {
  margin-bottom: 3rem;
}

.IntroTop {
  padding: 0.7rem;
  margin-bottom: 0.7rem;
}

.IntroBody {
  line-height: normal;
  border: 0.1rem solid #e6e6e6;
  border-radius: 0.8rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgb(0 0 0 / 10%);
  overflow: hidden;
  position: relative;
}

.IntroBox {
  margin-top: 2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.IntroWord {
  font-size: 1.2rem;
}

.IntroBoxRight {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.IntroDelBtn {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 2.2rem;
}

.IntroInputBox {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
  margin-top: 2rem;
}

.IntroInput {
  padding-left: 1rem;
  font-size: 1.2rem;
  width: 100%;
}

.IntroInputBtn {
  width: 2.8rem;
  height: 2.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 1rem;
  cursor: pointer;
}

.UserPlace {
  margin-bottom: 3rem;
}

.UserPlaceTop {
  padding: 0.7rem;
  margin-bottom: 0.7rem;
}

.UserPlaceBox {
  line-height: normal;
  border: 0.1rem solid #e6e6e6;
  border-radius: 0.8rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgb(0 0 0 / 10%);
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
}

.UserPlaceName {
  font-size: 1.7rem;
  padding: 1rem;
}

.UserPlaceBottom {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.UserPlaceImg {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: pink;
  margin: 0 1rem;
}

.UserPlaceExpBox {
  display: flex;
  position: relative;
  margin: 0 1rem;
  flex-direction: column;
  float: left;
}

.UserPlaceExp {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.UserPlaceNum {
  width: 6.5rem;
  height: 3rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 1rem;
  bottom: 1.4rem;
}

.NumFont {
  font-size: 1rem;
}

.UserPlaceExpBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UserHelpBody {
  margin-top: 1.2rem;
}

.UserHelpCont {
  line-height: normal;
  border: 0.1rem solid #e6e6e6;
  border-radius: 0.8rem;
  box-shadow: 0 0.1rem 0.3rem 0 rgb(0 0 0 / 10%);
  overflow: hidden;
  position: relative;
}

.UserHelpCenter {
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  height: 4.8rem;
  border-bottom: 0.1rem solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.UserHelpFont {
  font-size: 1.2rem;
}

.UserHelpLink {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.2rem;
}
