:root {
  --bg-color: #fff;
  --text-primary: #313131;
  --text-secondary: #5f5f5f;
  --accent: purple;
}
:root.light {
  --bg-color: #fff;
  --text-primary: #313131;
  --text-secondary: #5f5f5f;
  --text-accent: purple;
  --text-warning: yellow;
}
:root.dark {
  --bg-color: #313131;
  --text-primary: #fff;
  --text-secondary: #999;
  --text-accent: darkred;
  --text-warning: yellow;
}
