.container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.menuContainer{
  display: flex;
  align-items: flex-end
}
li{
  list-style:  none;
  display: flex;
  margin: 0 1rem;
}