@value --font-m from '@css/font.css';
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.menuContainer {
  display: flex;
  align-items: flex-end;
  font-size: --font-m;
}

.menu {
  list-style: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

.menu:hover {
  color: #c0eee4;
  text-shadow: 1px 1px 6px gray;
  text-decoration: underline;
}

.loginContainer {
  display: flex;
  align-items: center;
}

.themeIcon {
  width: fit-content;
  padding: 0 0;
}

@media (max-width: 576px) {
  .menuContainer {
    display: none;
  }
}
