.container {
  display: flex;
  margin-bottom: 1rem;
}

.inputContainer {
  border: 1px solid var(--text-secondary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
}

.writeBtn {
  width: 180px;
  margin-left: 0.5rem;
}
