.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.imgSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.list {
  display: flex;
}
.item {
  padding: 0 1rem;
}
.sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .infoContainer {
    margin-top: 2rem;
  }
}
