
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.list{
  display : flex;

}
.item{
  padding: 0 1rem;
}
.sort{
  min-width: 70px;
}

@media (max-width: 768px) {
  .container{
    grid-template-columns: 1fr;
  }
  .infoContainer{
    margin-top: 2rem;
  }
}

